.piso{
    
    &--container{
        border: 1px solid black;
        display: flex;
        width: 100%;
        height: 25rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &--foto{
        border: 1px solid black;
        width: 25%;
        height: 100%;
        background-color: black;
    }
    &--detalles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        padding-left: 6rem;
        width: 100%;

        &--precio{
            padding-bottom: 2rem;
            font-weight: 900;
        }

        &--ubicacion{
            padding-bottom: 2rem;
        }

        &--otrosDetalles{
            display: flex;
            
            &>p{
                margin-right: 2rem;    
            }
        }
        &--descripcion{
            margin-top: 2rem;
        }
    }
}