@import './variables.scss';

@import './base.scss';

@import '../components/Header/header.scss';
@import '../components/Main/mainPrincipal.scss';
@import '../components/CalculadoraHipoteca/calculadoraHipoteca.scss';
@import '../components/Footer/footer.scss';

@import '../components/Acceder/acceder.scss';
@import '../components/Registro/registro.scss';
@import '../components/Pisos/pisos.scss';
@import '../components/Menu/menu.scss';