.ajustesUsuario{
    &--container{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        width: 50%;
        text-align: center;
        padding: 2rem;
        margin: 0 auto;
    }

    &--usuario{
        &--imagen--container{  
            border: 1px saddlebrown solid;
            background-color: aqua;  
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
        }
        &--usuario{
            margin-top: 2rem;
        }
        &--correo{
            margin-top: 2rem;
        }
        &--contraseña{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
}