.main{
    width: 100%;
    display: flex;
    background-color:  rgb(70, 70, 70);
}
.main-pisos{
    width: 80%;
    height: 150vh;
    padding: 2rem;
    margin-left: 3rem;
    background-color:  rgb(241, 241, 241);
    border-top: 1rem solid rgb(70,70,70);
}